body {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: rgba(73, 71, 63, 0.6);
    padding: 28px 0;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
}

.container-carousel {
    width: 1160px;
    margin: 0 auto;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
}

.navbar-meun-item {
    display: inline-block;
}

.navbar-menu-link {
    color: #b8b8b8;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 20px;
    display: inline-block;
    position: relative;
}

.navbar-menu-link:hover {
    color: #18cfab;
}

.navbar-menu-link.active {
    color: #18cfab;
}

.navbar-menu-link.active::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: #18cfab;
    position: absolute;
    left: 0;
    bottom: -54px;
}

.navbar-menu-link:hover::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: #18cfab;
    position: absolute;
    left: 0;
    bottom: -54px;
}

.portfolio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(../img/back-ground-amaizing.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.portfolio-item.hidden {
    display: none;
}

.portolio-item-more {
    position: absolute;
}

.portfolio-item graphic-design:hover .portolio-item-more {
    opacity: 1;
}

.portfolio-item {
    padding: 0.5px;
    margin: 0.5px;
    position: relative;
}

.portfolio-btn {
    display: block;
    width: 100px;
    margin-top: 82px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    background-color: #18cfab;
    width: 165px;
    height: 60px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 42px;
    cursor: pointer;
}

.portfolio-menu-item {
    margin-bottom: 70px;
    display: inline-block;
    border: 1px solid #717171;
    position: relative;

}
.portfolio-menu-item:hover::after{
    content: '';
    height: 2px;
    width: 100%;
    background-color: #18cfab;
    position: absolute;
    left: 0;
    top: 0px;
    color: #18cfab;
    border-top: 0px;
}



.header {
    background-image: url(../img/back-ground-first-case.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.logo {
    display: flex;
    align-items: baseline;
}

.swarch-icon {
    display: inline-block;
}

.slogan {
    padding-top: 366px;
    margin-bottom: 45px;
    color: #18cfab;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.white-text {
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    text-align: center;
}

.big-slogan {
    margin-bottom: 37px;
    color: #ffffff;
    font-size: 79px;
    font-weight: 700;
    line-height: 74px;
    text-transform: uppercase;
    text-align: center;
}

.slogan-description {
    margin-bottom: 142px;
    color: #d4d4d4;
    font-size: 34px;
    font-weight: 300;
    line-height: 74px;
    text-align: center;
}

.EXPLORE {
    width: 166px;
    height: 61px;
    margin-left: 780px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    background-color: #18cfab;
    box-shadow: 0 -4px 0 #ffffff
}

.purchase {
    width: 166px;
    height: 61px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    background-color: #00cbf6;
}

.subscribe-button {

    margin-bottom: 244px;
    width: 166px;
    height: 61px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    background-color: #18cfab;
    box-shadow: 0 -4px 0 #ffffff
}

.subscribe-button-two {
    width: 166px;
    height: 61px;
    margin-left: 28px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    background-color: #00cbf6;
    box-shadow: 0 -4px 0 #ffffff;
}


.down-menu-section-dark {
    width: 25%;
    background-color: #1c2a33;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.down-menu-section-dark::before {
    content: " ";
    height: 7px;
    background-color: #18cfab;
}

.down-menu-section-green {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 25%;
    background-color: #18cfab;
}

.down-menu-section-green::before {
    content: " ";
    height: 7px;
    background-color: #ffffff;
}

.describe-first-section {
    margin-top: 48px;
    margin-bottom: 120px;
    color: #18cfab;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.describe-second-section {
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin-top: 68px;
    margin-bottom: 120px;
    text-align: center;
}

.first-icon {
    margin-top: 95px;
    margin-left: auto;
    margin-left: auto;

}

.container-icons-down-menu {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-left: auto;
    width: 100%;
}

.image {
    text-align: center;
}

.footer-describe {
    text-align: center;
    padding-bottom: 47px;
    padding-top: 47px;
    color: #aeaeae;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;

}

.green-text {
    color: #18cfab;
    font-size: 31.96px;
    font-weight: 700;
}

.green-text-footer {
    color: #18cfab;

}

.footer {
    background-color: #22353f;
}

.container-footer {
    height: 108px;
}

.portfolio-item-more-description {
    margin-bottom: 52px;
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 300;
    line-height: 42px;
}


.portfolio-description {
    padding-top: 71px;
    color: #4e4e4e;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;

}

.portfolio-menu-link {
    color: #717171;
    font-size: 14px;
    font-weight: 400;
    line-height: 42px;
    text-transform: capitalize;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 21px;
    padding-right: 21px;
}

.portfolio-menu-link.active:hover {
    color: #18cfab;
}

.portfolio-menu-link.active:hover::before {
    content: '';
    height: 3px;
    background-color: #18cfab;
    position: absolute;
    top: -24px;
}

.portfolio-menu {
    text-align: center;
}

.logo-text {
    color: #ffffff;
    font-size: 31.96px;
    font-weight: 400;
    line-height: 31px;
}

.logo-img {
    background-image: url(../img/logo-back.png);
    height: 67px;
    width: 58px;
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    line-height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.icon-item {
    position: absolute;
    text-align: center;
    justify-content: center;
}

.portfolio-item:hover .portfolio-item-more {
    opacity: 1;
    
}

.portfolio-item-more {
    height: 208px;
    width: 286px;
    padding-top: 46px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: #f8fcfe;
    opacity: 0;
    top: 0;
    left: 0;
    transition: 0.4s;
}
.portfolio-item-more::before{
    content:'';
    height: 2px;
    width: 100%;
    background-color: #18cfab;
    position: absolute;
    left: 0;
    top:0px;
}

.portfolio-item-more div {
    width: 100%;
    box-sizing: border-box;
}

.portfoilo-title-item {
    margin-top: 0;
    color: #18cfab;
    font-size: 14px;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
}

.portfolio-total {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.green-lines {
    display: block;
    margin: 0 auto;
    margin-top: 26px;
    margin-bottom: 80px;
    text-align: center;
}

.title-down-portfolio {
    color: #4e4e4e;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}

.navbar-main-navbar {
    display: flex;
    align-items: center;
}

.searching-form {
    display: inline-block;
    position: absolute;
}

.search-icon {
    opacity: 1;
}

.subscribe-form
}

.subscribe-form {
    display: inline-block;


}

.graphic-design {
    position: relative;
}

.portfolio-icons {
    position: relative;
    height: 40px;
    margin-bottom: 30px;
}

.portfolio-little-title {
    text-transform: capitalize;
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 300;
    line-height: 42px;
}


.login_modal_footer {
    margin-top: 5px;
}

.login_modal .modal-title {
    text-align: center;
    font-family: 'Monserrat', sans-serif;
}

.form-group .login-field-icon {
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 3px;
    transition: all 0.25s ease 0s;
    padding-top: 2%;
}

.login-modal {
    width: 100%;
    padding-bottom: 20px;
}

.login_modal_header,
.login_modal_footer {
    background: #ffffff !important;
    color: #fff;
}

.modal-register-btn {
    margin: 4% 33% 2% 33%;
    width: 100%;
}

.login-modal input {
    height: 47px;
    border: 1px solid #ddd;
    font-family: 'Montserrat', sans-serif;
    color: #b6b6b6;
    font-size: 18px;
    line-height: 30px;
}


.login-link {
    padding: 0 20%;
}

.modal-icons {
    margin-left: -10px;
    margin-right: 20px;
}

#center-line {
    position: absolute;
    right: 265.7px;
    top: 80px;
    background: #ddd;
    border: 4px solid #DDDDDD;
    border-radius: 20px;
}

.modal-login-btn {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}

#modal-launcher {
    margin: 30% 0 0 30%;
}


.subscribe {
    display: inline-block;
}

.form-control {
    margin-top: 23px;
    margin-left: 42px;
    height: 47px;
    width: 336px;
    border: 1px solid #ddd;
    font-family: 'Montserrat', sans-serif;
    color: #b6b6b6;
    font-size: 18px;
    line-height: 30px;
}

.fa-facebook {
    font-family: 'Monserrat', sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-transform: capitalize;
    text-decoration: none;
}



.carousel-inner {
    min-height: 300px;
}

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

.container-gallery-calendar {
    width: 1140px;
    margin: 0 auto;

}


.title-carousele-screen {

    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

.container-carousele-screen {
    width: 1160px;
    margin: 0 auto;

}

.carousele-description {
    font-family: 'Montserrat', sans-serif;
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
}

.carousele-description::before {
    content: url(../img/Scopes.png);
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 43px;
}

.carousele-screen {
    margin: 0 auto;
    padding-top: 99px;
    padding-bottom: 104px;
    background-image: url(../img/BG-carousel.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.carousele-line {
    text-align: center;
    padding-top: 140px;
    margin: 0 auto;
    height: 350px;
    display: flex;
    justify-content: center;
    position: relative;
}




.both {
    background-color: #14b9d5;
    border-radius: 3px;
    color: #fff;
    padding: 10px;
    margin-left: 5px;
}

.servise-title {
    font-family: 'Montserrat', sans-serif;
    color: #4e4e4e;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
}


.our-services-portfolio {
    height: 560px;
}

.container-describe {
    padding-top: 111px;
}

.title-description-calendar-gallery {
    font-family: 'Montserrat', sans-serif;
    color: #4e4e4e;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
}

.item {
    width: 58px;
    height: 58px;
}

.btns {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.btns:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #4CAF50;
    color: white;
}

.little-screen {
    background-image: url(../img/BG-little-screen.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 474px;
    padding-top: 126px;
}

.title-lettle-screen {
    text-transform: uppercase;
    color: #18cfab;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
}

.description-little-screen {
    margin-top: 35px;
    color: #d8d8d8;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
}

.subscribe-button-little-screen {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    width: 166px;
    height: 61px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    background-color: #18cfab;
    box-shadow: 0 -4px 0 #ffffff;
    border-radius: 2px;
    cursor: pointer;

}

.calendar-gallery {
    background-color: #ffffff;
    padding-top: 84px;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.title-description-our-servises {
color:  #4e4e4e;
font-size: 36px;
line-height: 40px;
text-align: center;
}

.date-descr::before {
white-space: pre;
content: '12 \A Feb';
padding: 10px 0;
width: 68px;
/*    height: 66px;*/
background-color: #203e38;
color:  #ffffff;
font-size: 15.99px;
font-weight: 400;
line-height: 26px;
text-align: center;
    justify-content: space-around;
transform: scaleY(1.0006);
position: absolute;
top: -211px;
right: 0px;
}

.date-descr::after{
    position: absolute;
    top: 28px;
    right: 46px;
    width: 180px;
    height: 14px;
    content: 'By admin \00a0  |  \00a0  2 comment';
    color:  #777777;
font-size: 13.99px;
font-weight: 300;
line-height: 40px;
text-align: center;
transform: scaleY(1.0006);
}

.date-descr:hover{
    color: #18cfab;
/*    background-color:  #18cfab;*/
}
.date-descr:hover::before{
    background-color: #18cfab;
}




.date-descr{
height: 72px;
color:  #717171;
font-size: 17.99px;
line-height: 40px;
font-weight: 700;
text-align: center;
position: relative;
background-color: #f8fcfe;
border: 0.5px solid #ebebeb;
}


.gallery-items-img {
    width: 263px;
    margin-bottom: 45px;
}

.container-items-gallery {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tabs {
	list-style-type: none;
	padding: 0;
	position: relative;
    
}
.tabs:after {
	content: "";
	clear: both;
	display: block;
	height: 240px;
}
.tabs li {
	float: left;
    
}
.tabs li > input {
	display: none;
}
.tabs li > label {
	display: inline-block;
	border: 0.3px solid #ebebeb;
    border-collapse: collapse;
	box-sizing: border-box;
	height: 73px;
    width: 189.1px;
	line-height: 40px;
    text-align: center;
	padding-top: 17px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    background-color: #f8fcfe;
}



.tabs li:last-child > label {
/*	border: 0.5px solid #999;*/
    
}
.tabs .tab-content {
    margin-top: 24px;
    width: 1141px;
	display: none;
	position: absolute;
	left: 0;
	height: 200px;
	overflow-y: auto;
}
 
.tabs li > input:checked + label{
    position: relative;
	background-color: #18cfab;
    border: 0.5px solid #18cfab;
    border-right-width: 0;
	border-left-width: 0; 
}

.tabs li > input:checked + label::after{
    content: "";
  position: absolute;
  left: 70px;
  bottom: -50px;
  height: 13px;
  border: 24px solid transparent;	
  border-top: 13px solid #18cfab;
/*    z-index: -1;*/
} 
.tabs li > input:checked ~ .tab-content {
	display: block;
}
.pic {
   margin-right: 20px; 
   float: left;
}

.container-tabs {
    width: 1142px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    color:  #717171;
}

.gallery-item-description {
    cursor: pointer;
}
.slider-for{
	width: 155px;
	height: 200px;
	margin: 30px auto 1px;
	overflow: hidden;
}
.img-nav{
	width: 60px;
	height: 59px;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(31, 218, 181, 0.4);
}

.slider-nav{
	width: 353px;
	height: 60px;
	margin: auto;
    
}
.slider-nav .slick-track{
	height: 85px;

}
.slick-arrow{
    position: absolute;
    top: 50%;
    z-index: 50;
    margin-top: -12px;
}
.slick-prev{
    width: 31px;
    height: 31px;
    content: url(../img/white-l-triangle.png);
	left: 0;
}
.slick-next{
    width: 31px;
    height: 31px;
    content: url(../img/white-r-triangle.png);
	right: 0;
}
.img-slide {
    width: 141px;
    height: 142px;
    border-radius: 100px;
    box-shadow: 0px 0px 20px 0px rgba(31, 218, 181, 0.4);
    border: 1px solid #18cfab;
}

